In [3]:
# STEP 1: Import required libraries
import pandas as pd
import numpy as np

# STEP 2: Upload file in Google Colab
from google.colab import files
uploaded = files.upload()

# STEP 3: Load the dataset
# Replace 'titanic.csv' with your actual file name if different
df = pd.read_csv('Titanic-Dataset.csv')

# STEP 4: View first 5 rows
print("First 5 rows of dataset:")
display(df.head())

# STEP 5: Check dataset information
print("\nDataset Info:")
df.info()

# STEP 6: Check missing values
print("\nMissing values in each column:")
print(df.isnull().sum())

# ===============================
# DATA CLEANING STARTS HERE
# ===============================

# STEP 7: Handle missing values in Age column
# Fill missing Age values with median
df['Age'] = df['Age'].fillna(df['Age'].median())

# STEP 8: Handle missing values in Embarked column
# Fill with most frequent value (mode)
df['Embarked'] = df['Embarked'].fillna(df['Embarked'].mode()[0])

# STEP 9: Handle Cabin column
# Too many missing values, so drop the column
df.drop(columns=['Cabin'], inplace=True)

# STEP 10: Drop columns not useful for ML
df.drop(columns=['PassengerId', 'Name', 'Ticket'], inplace=True)

# STEP 11: Convert categorical columns into numeric
# Sex column (male=0, female=1)
df['Sex'] = df['Sex'].map({'male': 0, 'female': 1})

# Embarked column (convert categories to numbers)
df['Embarked'] = df['Embarked'].map({'S': 0, 'C': 1, 'Q': 2})

# STEP 12: Final check for missing values
print("\nMissing values after cleaning:")
print(df.isnull().sum())

# STEP 13: View cleaned dataset
print("\nCleaned Dataset Preview:")
display(df.head())

# STEP 14: Save cleaned dataset to CSV
cleaned_file_name = 'titanic_cleaned.csv'
df.to_csv(cleaned_file_name, index=False)

print(f"\nCleaned file saved as {cleaned_file_name}")

# STEP 15: Download cleaned file
files.download(cleaned_file_name)

Saving Titanic-Dataset.csv to Titanic-Dataset (1).csv
First 5 rows of dataset:

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

Missing values in each column:
PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

Missing values after cleaning:
Survived    0
Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
Embarked    0
dtype: int64

Cleaned Dataset Preview:

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0         0       3    0  22.0      1      0   7.2500         0
1         1       1    1  38.0      1      0  71.2833         1
2         1       3    1  26.0      0      0   7.9250         0
3         1       1    1  35.0      1      0  53.1000         0
4         0       3    0  35.0      0      0   8.0500         0

Cleaned file saved as titanic_cleaned.csv

First, you would upload the `titanic_cleaned.csv` file to your new notebook if you haven't already. Then, you can load it using pandas:

In [4]:
import pandas as pd

# If you need to upload it again in a new session or notebook
# from google.colab import files
# uploaded = files.upload()

# Load the cleaned dataset
df_cleaned = pd.read_csv('titanic_cleaned.csv')

print("Cleaned Dataset Loaded Successfully:")
display(df_cleaned.head())

Cleaned Dataset Loaded Successfully:

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0         0       3    0  22.0      1      0   7.2500         0
1         1       1    1  38.0      1      0  71.2833         1
2         1       3    1  26.0      0      0   7.9250         0
3         1       1    1  35.0      1      0  53.1000         0
4         0       3    0  35.0      0      0   8.0500         0

### What to do next with the cleaned data:

Now that your data is cleaned and preprocessed, you can proceed with various machine learning tasks or further analysis:

1.  **Exploratory Data Analysis (EDA):**
    *   Visualize distributions of numerical features (e.g., Age, Fare).
    *   Analyze relationships between features and the 'Survived' target variable (e.g., survival rate by Sex, Pclass, Embarked).
    *   Create correlation matrices.

2.  **Feature Engineering:**
    *   Create new features from existing ones (e.g., 'FamilySize' from 'SibSp' and 'Parch').
    *   Bin numerical features if necessary.

3.  **Model Training:**
    *   Split your data into training and testing sets.
    *   Choose a classification model (e.g., Logistic Regression, Decision Tree, Random Forest, Support Vector Machine).
    *   Train your model on the training data.

4.  **Model Evaluation:**
    *   Evaluate your model's performance using metrics like accuracy, precision, recall, F1-score, and AUC-ROC on the test set.

Which of these would you like to explore first?